$GudFont: "", ;
$green: #9fb23a;
*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #f0f0f0;
    border-bottom: 2px solid black;
    &-text{
        color: $green !important;
        text-decoration: none !important;
    }
}
